<html>
  <body>
    <p>
      You are subscribed to the <%= @current_plan %>.
    </p>

    <p>
      You are being charged <%= @amount %> per <%= @interval %>.
    </p>

    <p>
      This subscription's current period will end on <%= @current_period_end %>.
    </p>
  </body>
</html>
