// Place all the styles related to the PaymentProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#remove_card {
  color: red;
}

#individual-card-info {
  padding-left: 40px;
  padding-right: 40px;
}
