// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plan_div {

  #plan-headers {
    font-size: 2em
  }

  display: inline-block;

  .form-check-label {
    padding: 3px;
  }

  .form-group {
    padding: 1px;
  }

  .well {
    background-color: #fff;
  }

  ul {
    padding: 2em;
    li {
      padding: 1px;
      font-size: 0.7em;
    }
  }
}
